<h1>Employees</h1>

<%= form_for @employee, url: {:action => 'create'} do |f| %>
	
	Name:<%= f.text_field :name %><br /><br />
	Age:<%= f.text_field :age %><br /><br />
	Address:<%= f.text_area :address %><br /><br />
	Gender: <%= f.radio_button :gender,"male" %>Male  <%= f.radio_button :gender,"Female" %>Female
	<br /><br />

	<%= f.submit %>

<% end %>

